
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-layer-btn {
        text-align: center;
    }
</style>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header" style="padding-top:15px;height: auto;">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">角色名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="UserName|l" placeholder="请输入" autocomplete="on" class="layui-input" style="width: 212px;">
                    </div>
                </div>

                <div class="layui-block" style="text-align:center">
                    <button class="layui-btn layui-btn-danger layuiadmin-btn-Line br5" lay-submit lay-filter="LAY-Employee-front-search">查询</button>

                    <button class="layui-btn layui-btn-normal layuiadmin-btn-Line br5" lay-submit lay-filter="LAY-Employee-front-Add">添加</button>

                </div>
            </div>


        </div>
        <div class="layui-card-body">

            <table class="layui-table" lay-data="{url:'/Employee/GetListData',method:'post',dataType: 'json', page:true, id:'LAY-Employee-manage'}" lay-filter="LAY-Employee-manage">
                <thead>
                    <tr>
                        <th lay-data="{ field: 'KID', align:'center',  width: 200}">kid</th>
                        <th lay-data="{ field: 'UserName', align:'center',  width: 300}">用户名</th>
                        <th lay-data="{ field: 'UserAcount', align:'center',  width: 300}">登录名</th>
                        <th lay-data="{ field: '', align:'center',  width: 100 ,templet:'#temp_Employee_State'}">状态</th>
                        <th lay-data="{ field: 'CreateTime', align:'center',  width: 300}">创建时间</th>
                        <th lay-data="{ align:'center', toolbar: '#table-Employee-opertool'}"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



<script type="text/html" id="temp_Employee_State">
    <input type="checkbox" lay-filter="startorstop" value="{{d.KID}}" name="States" {{d.States==0 ? "checked":""}} lay-skin="switch" lay-text="开启|关闭">
</script>

<script type="text/html" id="temp_Employee_CreateTime">
    <div>1{{ layui.laytpl.toDateString(d.CreatedTime) }}</div>
</script>
<script type="text/html" id="table-Employee-opertool">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="Reset">重置密码</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="Edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="Delete">删除</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="Authinfo">分配角色</a>

</script>

<script src="~/Content/Md5.js"></script>
<script>
    layui.use(['index', 'layer', 'table', 'laydate', 'zTree'], function () {
        var $ = layui.$,
            layer = layui.layer,
            form = layui.form,
            zTree = layui.zTree,
            table = layui.table,
            laydate = layui.laydate;

        form.on("submit(LAY-Employee-front-search)", function (data) {
            var field = data.field;
            console.log(field)
            //执行重载
            table.reload('LAY-Employee-manage', {
                where: field,
                page: {
                    limit: 10,
                    curr: 1 //重新从第 1 页开始
                }

            });
        })
        //监听开关
        form.on('switch(startorstop)', function (data) {
            var field = data;
            var kid = data.value;
            var name = data.elem.name;
            var checked = data.elem.checked;
            var sdata = checked ? 0 : 1;

            var strdata = JSON.stringify({ "states": sdata, "kid": kid })

            console.log(strdata);
            $.ajax({
                type: 'post',
                url: '/Employee/StartOrClose',
                data:  strdata ,
                dataType: 'json',
                contentType:'application/json',
                success: function (ret) {
                    console.log(ret)
                    if (ret.IsSucceed) {
                        layer.msg("操作成功");
             
                    }
   
                    else {
                        layer.msg("操作失败");
                    }
                }
            })
        })

        form.on("submit(LAY-Employee-front-Add)", function (data) {
            console.log(data)
            $(".Employeename").val("");
            layer.open({
                type: 2
                , title: '添加'
                , area: ['600px', '400px']
                , content:'/Employee/AddOrEdit'
            })
        })

        var refresh = function () {
            var btnrefresh = window.parent.document.getElementsByClassName('LAY-Employee-front-search')[0];
            if (btnrefresh == null) {
                layui.table.reload('LAY-Employee-manage');
            }
            else {
                btnrefresh.click();
            }
        }


        //laydate init
        lay('.search_date').each(function () {
            laydate.render({
                elem: this
            })
        });
        //时间戳的处理
        layui.laytpl.toDateString = function (d, format) {
            var date = new Date(d || new Date())
                , ymd = [
                    this.digit(date.getFullYear(), 4)
                    , this.digit(date.getMonth() + 1)
                    , this.digit(date.getDate())
                ]
                , hms = [
                    this.digit(date.getHours())
                    , this.digit(date.getMinutes())
                    , this.digit(date.getSeconds())
                ];

            format = format || 'yyyy-MM-dd HH:mm:ss';

            return format.replace(/yyyy/g, ymd[0])
                .replace(/MM/g, ymd[1])
                .replace(/dd/g, ymd[2])
                .replace(/HH/g, hms[0])
                .replace(/mm/g, hms[1])
                .replace(/ss/g, hms[2]);
        };

        //数字前置补零
        layui.laytpl.digit = function (num, length, end) {
            var str = '';
            num = String(num);
            length = length || 2;
            for (var i = num.length; i < length; i++) {
                str += '0';
            }
            return num < Math.pow(10, length) ? str + (num | 0) : num;
        }


        //监听工具条
        table.on('tool(LAY-Employee-manage)', function (obj) {
            var data = obj.data;
            var kid = data.KID;

            //重置密码
            if (obj.event === 'Reset') {
                layer.confirm('确认重置密码', { title: '重置密码' }, function (index) {
                    var dd = { "kid": data.KID, "password": md5(888888).toUpperCase() };
                    console.log(dd)
                    $.ajax({
                        type: "post",
                        url: "/Employee/Reset",
                        data: JSON.stringify(dd),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (res) {
                            if (res.IsSucceed) {
                                layer.msg("操作成功");
                                layer.close(index);
                            }
                            else {
                                layer.msg("删除失败,服务器未返回失败信息");
                            }
                        }
                    });
                });

            }
            //删除
            if (obj.event === 'Delete') {
                //删除
                layer.confirm('确认删除该条出团信息？,删除后信息不可恢复', { title: '删除' }, function (index) {
                    $.ajax({
                        type: "post",
                        url: "/Employee/Delete",
                        data: { "kid": data.KID },
                        dataType: "json",
                        contentType: "application/json",
                        success: function (res) {
                            if (res.IsSucceed) {
                                refresh();
                                layer.close(index);
                            }
                            else {
                                layer.msg("删除失败,服务器未返回失败信息");
                            }
                        }
                    });
                });

            }
            //分配角色
            else if (obj.event === 'Authinfo') {
                layer.open({
                    type: 2
                    , title: '授权'
                    , area: ['500px', '300px']
                    //, btn: ['确定', '取消']
                    , content: '/Employee/EmpRole?kid=' + kid
                    , success: function (layero, index) {

                    }
                    , end: function () {

                    }

                });
            }
            //编辑
            else if (obj.event === 'Edit') {
                var kid = data.KID;
                layer.open({
                    type: 2
                    , title: '编辑'
                    , area: ['600px', '400px']
                    , content: '/Employee/AddOrEdit?kid=' + kid
                })
            }
        });

    });
</script>


