<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Layui/css/layui.css" rel="stylesheet" />
</head>
<body>


    <div class="">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/Layui/layui.js"></script>
    <script>
        layui.config({
            base: '/res/js/modules/' //你存放新模块的目录，注意，不是layui的模块目录
        }).use('index'); //加载入口
    </script>
    <script>
        //layui模块的使用
        layui.use(['mod1', 'mod2'], function (args) {
            var mod = layui.mod1;

            //……

        });
    </script>
</body>
</html>