
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">订单编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="OrderId|l" placeholder="请输入" autocomplete="on" class="layui-input" style="width: 212px;">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="LoginId|l" placeholder="请输入" autocomplete="on" class="layui-input" style="width: 212px;">
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-card-body">

            <div style="padding-bottom: 10px;margin:0 auto;">
                <button class="layui-btn layui-btn-danger layuiadmin-btn-Line br5" lay-submit lay-filter="LAY-Blog-front-search">查询</button>

                <button class="layui-btn layui-btn-normal layuiadmin-btn-Line br5" lay-submit lay-filter="LAY-Blog-front-Add">添加</button>

            </div>

            <table class="layui-table" lay-data="{url:'/Blog/GetListData',method:'post',dataType: 'json', page:true, id:'LAY-Blog-manage'}" lay-filter="LAY-Blog-manage">
                <thead>
                    <tr>
                        <th lay-data="{ field: 'KID', align:'center',  width: 200}">kid</th>
                        <th lay-data="{ field: 'Title', align:'center',  width: 300}">标题</th>
                        <th lay-data="{ field: 'DetailTitle', align:'center',  width: 600}">详细标题</th>
                        <th lay-data="{ field: 'CreateTime', align:'center',  width: 200，templet:'<div>{{ layui.laytpl.toDateString(d.createdTime) }}</div>'}">创建时间</th>
                        <th lay-data="{align:'center', toolbar: '#table-bloginfo-opertool'}"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<script type="text/html" id="temp_Blog_CreateTime">
    <div>1{{ layui.laytpl.toDateString(d.CreatedTime) }}</div>
</script>
<script type="text/html" id="table-bloginfo-opertool">

    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="Edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="Delete">删除</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="Log">日志</a>

</script>



<script src="~/ueditornet/ueditor.config.js"></script>
<script src="~/ueditornet/ueditor.all.js"></script>
<script src="~/ueditornet/lang/zh-cn/zh-cn.js"></script>

<script>
    layui.use(['index', 'Blog', 'table', 'laydate'], function () {
        var $ = layui.$,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //laydate init
        lay('.search_date').each(function () {
            laydate.render({
                elem: this
            })
        });
        //时间戳的处理
        layui.laytpl.toDateString = function (d, format) {
            var date = new Date(d || new Date())
                , ymd = [
                    this.digit(date.getFullYear(), 4)
                    , this.digit(date.getMonth() + 1)
                    , this.digit(date.getDate())
                ]
                , hms = [
                    this.digit(date.getHours())
                    , this.digit(date.getMinutes())
                    , this.digit(date.getSeconds())
                ];

            format = format || 'yyyy-MM-dd HH:mm:ss';

            return format.replace(/yyyy/g, ymd[0])
                .replace(/MM/g, ymd[1])
                .replace(/dd/g, ymd[2])
                .replace(/HH/g, hms[0])
                .replace(/mm/g, hms[1])
                .replace(/ss/g, hms[2]);
        };

        //数字前置补零
        layui.laytpl.digit = function (num, length, end) {
            var str = '';
            num = String(num);
            length = length || 2;
            for (var i = num.length; i < length; i++) {
                str += '0';
            }
            return num < Math.pow(10, length) ? str + (num | 0) : num;
        }

    });
</script>


