
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-card-header{
        padding-top:20px;
        height:auto;
    }
    .btn-area {
        text-align: center;
    }
</style>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">订单编号</label>
                    <div class="layui-input-block">
                        <input type="text" name="OrderId|l" placeholder="请输入" autocomplete="on" class="layui-input" style="width: 212px;">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">账号</label>
                    <div class="layui-input-block">
                        <input type="text" name="LoginId|l" placeholder="请输入" autocomplete="on" class="layui-input" style="width: 212px;">
                    </div>
                </div>
            </div>
            <div class="layui-form-item btn-area">

                    <button class="layui-btn layui-btn-danger layuiadmin-btn-Line br5" lay-submit lay-filter="LAY-Blog-front-search">查询</button>

                    <button class="layui-btn layui-btn-normal layuiadmin-btn-Line br5" lay-submit lay-filter="LAY-Blog-front-Add">添加</button>

            </div>

        </div>
        <div class="layui-card-body">

            <table class="layui-table" lay-data="{url:'/Blog/GetListData',method:'post',dataType: 'json', page:true, id:'LAY-Blog-manage'}" lay-filter="LAY-Blog-manage">
                <thead>
                    <tr>
                        <th lay-data="{ field: 'KID', align:'center',  width: 200}">kid</th>
                        <th lay-data="{ field: 'Title', align:'center',  width: 300}">标题</th>
                        <th lay-data="{ field: 'DetailTitle', align:'center',  width: 600}">详细标题</th>
                        <th lay-data="{ field: 'CreateTime', align:'center',  width: 200}">创建时间</th>
                        <th lay-data="{align:'center', toolbar: '#table-bloginfo-opertool'}"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script type="text/html" id="temp_Blog_CreateTime">
    <div>1{{ layui.laytpl.toDateString(d.CreatedTime) }}</div>
</script>
<script type="text/html" id="table-bloginfo-opertool">

    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="Edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="Delete">删除</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="Log">日志</a>

</script>



<script src="~/ueditornet/ueditor.config.js"></script>
<script src="~/ueditornet/ueditor.all.js"></script>
<script src="~/ueditornet/lang/zh-cn/zh-cn.js"></script>

<script>
    layui.use(['index','form', 'table', 'laydate'], function () {
        var $ = layui.$,
            form = layui.form,
            table = layui.table,
            laydate = layui.laydate;

        //laydate init
        lay('.search_date').each(function () {
            laydate.render({
                elem: this
            })
        });


        //监听搜索
        form.on('submit(LAY-Blog-front-search)', function (data) {
            var field = data.field;
            //执行重载
            table.reload('LAY-Blog-manage', {
                where: field,
                page: 1
            });
        });

        //事件
        var active = {

            Add: function () {
                layer.open({
                    type: 1
                    , title: '添加'
                    , content: 'AddOrEdit'
                    , area: [resizeIframe(640) + 'px', resizeIframe(740) + 'px']
                    , end: function () {
                        if ($("button").hasClass("layui-laypage-btn")) {
                            $(".layui-laypage-btn").click(); //数据刷新
                        } else {
                            table.reload('LAY-Blog-manage', {});
                        }
                    }
                });
            }
        };

        //点击查看大图
        $(document).on('click', '.show_img', function () {
            var src = $(this).attr('src');
            var html = '<img src =' + src + ' style="width:100%;">';
            layer.open({
                type: 1,
                title: false,
                area: 'auto',
                maxWidth: resizeIframe(1000),
                maxHeight: resizeIframe(800),
                content: html
            })
        })


        //监听工具条
        table.on('tool(LAY-Blog-manage)', function (obj) {
            var data = obj.data;

            if (obj.event === 'Delete') {
                //删除
                layer.confirm('确认删除该条出团信息？,删除后信息不可恢复', { title: '删除' }, function (index) {
                    $.ajax({
                        type: "post",
                        url: "/Blog/Delete",
                        data: { "KID": data.KID },
                        dataType: "json",
                        success: function (ret) {
                            if (ret.code == "0") {
                                obj.del();
                                layer.close(index);
                            }
                            else {
                                if (ret.msg == null)
                                    layer.msg("删除失败,服务器未返回失败信息");
                                else
                                    layer.msg(ret.msg);
                            }
                        }
                    });
                });

            }
            //编辑
            else if (obj.event === 'Edit') {
                var kid = data.KID;
                layer.open({
                    type: 2
                    , title: '编辑'
                    , area:['100%','100%']
                    , content: '/Blog/AddOrEdit?blogid=' + kid
                    , end: function () {
                        table.reload('LAY-Blog-manage'); //数据刷新
                        //layer.close(index); //关闭弹层
                    }
                    , success: function (layero, index) {

                    }
                });

            }
        });


        //时间戳的处理
        layui.laytpl.toDateString = function (d, format) {
            var date = new Date(d || new Date())
                , ymd = [
                    this.digit(date.getFullYear(), 4)
                    , this.digit(date.getMonth() + 1)
                    , this.digit(date.getDate())
                ]
                , hms = [
                    this.digit(date.getHours())
                    , this.digit(date.getMinutes())
                    , this.digit(date.getSeconds())
                ];

            format = format || 'yyyy-MM-dd HH:mm:ss';

            return format.replace(/yyyy/g, ymd[0])
                .replace(/MM/g, ymd[1])
                .replace(/dd/g, ymd[2])
                .replace(/HH/g, hms[0])
                .replace(/mm/g, hms[1])
                .replace(/ss/g, hms[2]);
        };

        //数字前置补零
        layui.laytpl.digit = function (num, length, end) {
            var str = '';
            num = String(num);
            length = length || 2;
            for (var i = num.length; i < length; i++) {
                str += '0';
            }
            return num < Math.pow(10, length) ? str + (num | 0) : num;
        }


    });
</script>


