@model CJJ.Blog.Service.Models.Data.Blogcontent
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/detail.css" rel="stylesheet" />


    <div class="detail">
        @Html.Raw(Model.Content.ToString())
    </div>
   

