
@{
    ViewBag.Title = "Auth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .layui-card{
        min-height:500px;
    }
    .employeeidroom {
        width: 500px;
    }
    .auth-btn-area{
        position:fixed;
        bottom:0;
        left:0;
        width:100%;
        height:80px;
        background-color:white;
        text-align:center;
        line-height:80px;
    }
    .auth-btn0 {
        background-color: #ff5a1e !important;
        color: #fff !important;
        width: 100px !important;
        height: 38px !important;
        padding: 0 !important;
        line-height: 38px !important;
        text-align: center !important;
        font-size: 14px !important;
        border: none !important;
        border-radius: 2px !important;
        cursor: pointer !important;
        margin-right: -110px !important;
        text-decoration: none;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        /*vertical-align: top;*/
    }

    .auth-btn1 {
        background-color: #444a5a !important;
        color: #fff !important;
        height: 38px !important;
        padding: 0 !important;
        width: 100px !important;
        line-height: 38px !important;
        text-align: center !important;
        font-size: 14px !important;
        border: none !important;
        border-radius: 2px !important;
        cursor: pointer !important;
        margin-left: -110px !important;
        text-decoration: none;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        /*vertical-align: top;*/
    }
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md5">
            <div class="layui-card">
                <div class="layui-card-header">可操作菜单列表</div>
                <div class="layui-card-body">
                    <ul id="LAY-Auth-Tree" class="ztree"></ul>
                </div>

            </div>
        </div>
        <div class="layui-col-md7">
            <div class="layui-card">
                <div class="layui-card-header">属于该角色的成员</div>
                <div class="layui-card-body">
                    <div class="employeeidroom">
                        <select id='employeeids' name="employee" xm-select="select1">
                            <option value=""></option>
                        </select>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="auth-btn-area">
        <a class="auth-btn0" id="auth-btn0" >确定</a>
        <a class="auth-btn1" id="auth-btn1">取消</a>
    </div>
    @*<input type="hidden" layui-submit lay-filter="operateputbtn" id="operateputbtn"/>*@
    <input type="hidden" id="roleid" value="@ViewBag.Roleid"/>
</div>
<link href="~/Content/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<link href="~/Content/formSelect/formSelects-v4.css" rel="stylesheet" />
<script type="text/javascript">
    //layui模块的使用
    layui.use(['index','zTree','layer', 'jquery', 'table', 'form', 'formSelects'], function (args) {

        var $ = layui.$
            , table = layui.table
            , zTree = layui.zTree
            , form = layui.form
            , layer = layui.layer
            , formSelects = layui.formSelects;

        var initztree = function () {
            var setting = {
                view: {
                    //addHoverDom: addHoverDom,
                    //removeHoverDom: removeHoverDom,
                    selectedMulti: true
                },
                edit: {
                    enable: true,
                    editNameSelectAll: true,
                    showRemoveBtn: false,
                    showRenameBtn: false
                },
                data: {
                    key: {
                        checked:'Checked',
                        name: 'Menuname'
                    },
                    simpleData: {
                        enable: true,
                        idKey: 'KID',
                        pIdKey: 'Fatherid'
                    }
                },
                callback: {
                    //onClick: onClick
                },
                check: {
                    enable: true,   //true / false 分别表示 显示 / 不显示 复选框或单选框
                    autoCheckTrigger: true,   //true / false 分别表示 触发 / 不触发 事件回调函数
                    chkStyle: "checkbox",   //勾选框类型(checkbox 或 radio）
                    chkboxType: { "Y": "ps", "N": "ps" }   //勾选 checkbox 对于父子节点的关联关系
                }
            };
            var zNodes = [];
            var roleid = $("#roleid").val();
            $.ajax({
                type: 'post',
                url: '/Role/GetRoleMenu',
                dataType: 'json',
                data: JSON.stringify({ "roleid": roleid }),
                contentType: 'application/json',
                success: function (res) {
                    zNodes = res;
                    for (var i in zNodes) {
                        zNodes[i].nocheck = false;
                        zNodes[i].open = 'true';
                    }
                    zTree.init($('#LAY-Auth-Tree'), setting, zNodes);
                },
                error: function (err) {
                    console.log(err)
                }

            })
        }

        //确定
        $(".auth-btn0").on("click", function (data) {
            var ztreeobj = zTree.getZTreeObj("LAY-Auth-Tree");          
            //选择了的menu对象
            var nodes = ztreeobj.getCheckedNodes(true);
            var nodestr = "";
            if (nodes.length > 0) {
                for (var i in nodes) {
                    nodestr = nodestr + nodes[i].KID+","
                }
            }
            //员工ids
            var selectval = formSelects.value("select1", "valStr");
            var data = { "roleid": $("#roleid").val(), "userids": selectval, "menuids": nodestr.substring(0, nodestr.lastIndexOf(',')) }
            console.log(data)
            $.ajax({
                type: 'post',
                url: '/Role/OperateRole',
                dataType: 'json',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (res) {
                    if (res.IsSucceed) {
                        layer.msg("操作成功")
                        parent.layer.closeAll()
                    }
                    else {
                        layer.msg("操作失败")
                    }
                },
                error: function (err) {
                    layer.msg("操作错误")
                    console.log(err)
                }

            })           
        })
        //取消
        $(".auth-btn1").on("click", function (data) {
            console.log("aclick11")
            parent.layer.closeAll()
        })


        // 是否显示删除按钮
        function showRemoveBtn(treeId, treeNode) {
            return treeNode.id != 0;
        }
        // 点击node
        function onClick(event, treeId, treeNode, clickFlag) {
            //设置为修改
            $('input[name="Opertype"]').val('edit');
            reForm();
            if (treeNode.KID == 0) {
                layer.msg('顶级目录不允许编辑');
                clearForm();
                return;
            }
            console.log(treeNode)
            $('input[name="Menuname"]').val(treeNode.Menuname);
            $('input[name="KID"]').val(treeNode.KID);
            $('input[name="Menuicon"]').val(treeNode.Menuicon);
            $('input[name="MenuUrl"]').val(treeNode.MenuUrl);
            $('input[name="Menusort"]').val(treeNode.Menusort);
            $('textarea[name="Menuremark"]').val(treeNode.Menuremark);
            $Fatherid.val(treeNode.Fatherid);
        }

        //初始化
        $(function () {
            initztree();

            Inittreeselect();

        })
        //初始化formselect
        function Inittreeselect() {

            var roleid = $("#roleid").val();

            $.ajax({
                type: 'post',
                url: '/Role/GetRoleMember',
                data: JSON.stringify({ "roleid": roleid }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (res) {
                    console.log(res)
                    for (var i = 0; i < res.length; i++) {
                        if (res[i].Checked) {
                            var option = '<option selected="selected" value="' + res[i].KID + '">' + res[i].UserName + '</option>';
                            $("#employeeids").append(option);
                        }
                        else {
                            var option = '<option value="' + res[i].KID + '">' + res[i].UserName + '</option>';
                            $("#employeeids").append(option);
                        }

          
                    }

                    formSelects.render();
                    form.render('select');
                },
                error: function (err) {
                    console.log(err)
                }

            })
        }


    })

</script>

