
.detailcontainer{
    box-sizing:border-box;
    padding:1rem;
}
.Title {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem 4rem;
    height: 7rem;
    text-align: center;
    font-size: 2rem;
}
.Detailtitle {
    box-sizing: border-box;
    padding: 1rem;
    width: 100%;
    min-height:8rem;

    text-align: center;
    font-size: 1.5rem;
}
.detail {
    word-wrap: break-word;
}

pre {
    background-color: rgb(245,242,240);
    position: relative;
}

/*pre::before{
    width:20px;
    height:20px;
    display:inline-block;
    content:'<button>复制</button>';
    position:absolute;
    top:-20px;
    left:0;
}*/