<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpServiceBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"  maxReceivedMessageSize="1073741824">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxStringContentLength ="1073741824" maxArrayLength ="1073741824" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>

      <!--用户管理-->
      <endpoint address="net.tcp://localhost:9999/BlogService" binding="netTcpBinding"
               bindingConfiguration="netTcpServiceBinding"
               contract="CJJ.Blog.NetWork.IService.IBlogService"
               name="BlogServiceEndpoint"/>
    </client>
  </system.serviceModel>
</configuration>
