<!DOCTYPE html>
<html style="font-size:14px;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodman博客首页</title>
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <header class="header-nav">
        <nav>
            <div class="logo"><a href="#">Rodman博客</a></div>
            <ul id="catlist">
                <li id="selected"><a href="#">首页</a></li>
                <li><a href="#">框架</a></li>
                <li><a href="#">心情</a></li>
                <li><a href="#">风景</a></li>
                <li><a href="#">关于我</a></li>
            </ul>
        </nav>
    </header>

    <article>@RenderBody()</article>
    <footer></footer>


    <script type="text/javascript">
        var beforeScrollTop = $(window).scrollTop();
        console.log(beforeScrollTop)
        $(window).scroll(function () {
            var afterScrollTop = $(window).scrollTop(),
                updown = afterScrollTop - beforeScrollTop;
            if (updown === 0) return false;
            beforeScrollTop = afterScrollTop;
            console.log(updown > 0 ? "down" : "up");

            var isUpDown = updown > 0 ? "down" : "up";  //判断往上还是往下
            if (updown > 0) {
                $(".navcontainer").fadeOut(1000);
            } else {
                $(".navcontainer").fadeIn(1000);
            }

        })
    </script>
</body>
</html>