<!DOCTYPE html>
<html style="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodman博客首页</title>
    <link href="~/Content/layout.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <header class="header-nav">
        <nav>
            <div class="logo"><a href="#">Rodman博客</a></div>
            <ul id="catlist">
                <li class="selected"><a href="/Blog/index">首页</a></li>
                @*<li><a href="/Blog/index?categorytype=1">技术杂谈</a></li>
                <li><a href="/Blog/index?categorytype=2">框架整理</a></li>
                <li><a href="/Blog/index?categorytype=3">经验积累</a></li>
                <li><a href="/Blog/index?categorytype=4">实用工具</a></li>*@
            </ul>
        </nav>
    </header>

    <article>
        <div class="left_main">
            @RenderBody()
        </div>
        @*右边aside*@
        <div class="aside">
            @*热点推荐*@
            @*<div class="hot-container">
                <div class="hotitem">
                    <img src="~/Content/201904121811133022935876.jpg" />
                    <h2>FastDev框架的日志组件1</h2>
                    <span>框架整理</span>
                </div>*@
                @*<div class="hotitem">
                    <img src="~/Content/201904121811145366134525.jpg" />
                    <h2>FastDev框架的日志组件</h2>
                    <span>框架整理</span>
                </div>*@
            @*</div>*@
            @*关于我*@
            <div class="about_me">
                <h3>个人资料</h3>
                <p>网名：Rodman</p>
                <p>职业：软件产品的组装者</p>
                <p>现居：四川成都武侯</p>
                <p>Email：cjj.rodman@qq.com</p>
                <ul>
                    <li class=""><a href="#"><i class="link email">&#xe612;</i></a></li>
                    <li class=""><a href="#"><i class="link qq">&#xf00a6;</i></a></li>
                    <li class=""><a href="#"><i class="link wx">&#xe637;</i></a></li>
                    <li class=""><a href="#"><i class="link github">&#xea0a;</i></a></li>
                </ul>
            </div>
            @*博客分类*@
            @*<div class="category">
                <h2>文章分类</h2>
                <ul>
                    <li><a href="#">技术框架分享</a></li>
                    <li><a href="#">Bug整理</a></li>
                    <li><a href="#">技术点分享</a></li>
                </ul>
            </div>*@
            @*推荐*@
            <div class="recommend">
                <h2>博客推荐</h2>
                <ul>
                    @*<li><i></i><a href="#">技术框架分享</a></li>
                    <li><i></i><a href="#">Bug整理</a></li>
                    <li><a href="#">技术点分享</a></li>*@
                </ul>
            </div>
            @*今日热点*@
            <div class="hot">
                <h2>今日热点</h2>
                <ul>

                </ul>
            </div>
        </div>
    </article>
    <footer>
        <div class="contact">
            <div class="left">
                <div>
                    你的称呼：<input type="text" />
                </div>
                <div>
                    你的email：<input type="text" />
                </div>

            </div>
            <div class="right">

            </div>
        </div>
        <div class="support">
            <a href="#">腾讯云提供服务</a>&<a href="#">七牛云存储</a>
        </div>
       
    </footer>


    <script src="~/Scripts/layout.js"></script>

</body>
</html>