
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .menucont {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .left {
        width: 40rem;
        height: 100rem;
        margin-right: 3rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    .right {
        width: 50rem;
        height: 100rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    .layui-card {
        padding-top: 0px;
    }
</style>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md5">
            <div class="layui-card">
                <div class="layui-card-header">菜单列表</div>
                <div class="layui-card-body">
                    <ul id="LAY-Menu-Tree" class="ztree"></ul>
                </div>

            </div>
        </div>
        <div class="layui-col-md7">
            <div class="layui-card" style="padding:15px">
                <div id="menuheader" class="layui-card-header">当前菜单</div>

                <form class="layui-form">
                    <input type="hidden" name="KID" />
                    <input type="hidden" name="Fatherid" />
                    <input type="hidden" name="Opertype" />
                    <div class="layui-form-item">
                        <label class="layui-form-label">菜单名称</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="Menuname" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">图标</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="Menuicon" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">URL</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="MenuUrl" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">显示顺序</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" name="Menusort" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"></label>
                        <div class="layui-input-block">
                            越靠前越大
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">描述信息</label>
                        <div class="layui-input-block">
                            <textarea class="layui-textarea" name="Menuremark"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">描述信息</label>
                        <div class="layui-input-block">
                            <button id="Menusavebtn" lay-submit lay-filter="Lay-Menu-Submit" class="layui-btn layui-btn-disabled">立即提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<link href="~/Content/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script type="text/javascript">
    //layui模块的使用
    layui.use(['zTree', 'jquery', 'table', 'form'], function (args) {

        var $ = layui.$
            , table = layui.table
            , zTree = layui.zTree
            , form = layui.form;

        var $Fatherid = $("input[name='Fatherid']");
        var $kid = $("input[name='KID']");
        var $Opertype = $("input[name='Opertype']");
        var $save = $("#Menusavebtn");
        var $header = $("#menuheader");



        form.on('submit(Lay-Menu-Submit)', function (data) {
            var field = data.field;

            // var data = { Token: "123", Data: JSON.stringify(field) }
            var data = new Object();
            data.dic = field;
            console.log(data);
            $.ajax({
                type: 'post',
                url: '/Menu/AddOrUpdate',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (res) {
                    if (res.IsSucceed) {
                        layer.msg("操作成功");
                        initztree();
                    }
                    else {
                        layer.msg("操作失败");
                    }
      
                },
                error: function (err) {
                    layer.msg("系统错误");
                }

            })
            return false;
        })

        var initztree = function () {
            var setting = {
                view: {
                    addHoverDom: addHoverDom,
                    removeHoverDom: removeHoverDom,
                    selectedMulti: false
                },
                edit: {
                    enable: true,
                    editNameSelectAll: true,
                    showRemoveBtn: showRemoveBtn,
                    showRenameBtn: false
                },
                data: {
                    key: {
                        name: 'Menuname'
                    },
                    simpleData: {
                        enable: true,
                        idKey: 'KID',
                        pIdKey: 'Fatherid'
                    }
                },
                callback: {
                    beforeRemove: beforeRemove,
                    onClick: onClick
                }
            };
            var zNodes = [];
            $.ajax({
                type: 'post',
                url: '/Menu/list',
                dataType: 'json',
                contentType: 'application/json',
                success: function (res) {
                    console.log(res)
                    zNodes = res;
                    for (var i in zNodes) {
                        zNodes[i].open = 'true';
                    }
                    zNodes.push({ KID: 0, Menuname: '菜单管理', open: 'true' });
                    zTree.init($('#LAY-Menu-Tree'), setting, zNodes);
                },
                error: function (err) {
                    console.log(err)
                }

            })
        }


        // 是否显示删除按钮
        function showRemoveBtn(treeId, treeNode) {
            return treeNode.id != 0;
        }
        // 点击node
        function onClick(event, treeId, treeNode, clickFlag) {
            //设置为修改
            $('input[name="Opertype"]').val('edit');
            reForm();
            if (treeNode.KID == 0) {
                layer.msg('顶级目录不允许编辑');
                clearForm();
                return;
            }
            console.log(treeNode)
            $('input[name="Menuname"]').val(treeNode.Menuname);
            $('input[name="KID"]').val(treeNode.KID);
            $('input[name="Menuicon"]').val(treeNode.Menuicon);
            $('input[name="MenuUrl"]').val(treeNode.MenuUrl);
            $('input[name="Menusort"]').val(treeNode.Menusort);
            $('textarea[name="Menuremark"]').val(treeNode.Menuremark);
            $Fatherid.val(treeNode.Fatherid);
        }
        //清除右侧表单
        function clearForm() {
            $('input[name="Menuname"]').val("");
            $('input[name="KID"]').val("");
            $('input[name="Menuicon"]').val("");
            $('input[name="MenuUrl"]').val("");
            $('input[name="Menusort"]').val("");
            $('textarea[name="Menuremark"]').val("");
            $('input[name="KID"]').val("");
            $Fatherid.val("");
        }
        //切换form样式
        function reForm() {
            var action = $Opertype.val();
            $save.removeClass('layui-btn-disabled').attr('disabled', false);
            if (action == 'edit') {
                $header.text("修改菜单");
                $save.text("立即修改");

            }
            else {
                $header.text("新增菜单");
                $save.text("立即添加");
            }
        }
        // 删除前
        function beforeRemove(treeId, treeNode, isdelcallback) {
            var zTree = $.fn.zTree.getZTreeObj('LAY-Menu-Tree');
            zTree.selectNode(treeNode);
            if (treeNode.children) {
                layer.msg('该菜单下有子菜单，不能删除！');
                return false;
            }
            if (isdelcallback == 1) {
                $('#' + treeNode.tId).remove();
                var data = {};
                data.menuid = treeNode.KID;
                console.log(data)
                if (data.menuid) {
                    $.ajax({
                        type: 'post',
                        url: '/Menu/Delete',
                        dataType: 'json',
                        contentType: 'application/json',
                        data: JSON.stringify(data),
                        success: function (res) {
                            if (res.IsSucceed) {
                                layer.msg("操作成功");
                                console.log(res)
                                initztree();
                            }
                            else {
                                layer.msg("操作失败");
                            }
                
                        },
                        error: function (err) {
                            layer.msg("系统错误");
                        }

                    })
                }
            } else {
                layer.confirm('确认删除 菜单 -- ' + treeNode.Menuname + ' 吗？', {
                    btn: ['确认', '取消']
                }, function () {
                    //执行删除操作
                    beforeRemove(treeId, treeNode, 1);
                    layer.closeAll();
                });
                return false;
            }
        }
        // 鼠标移入事件
        function addHoverDom(treeId, treeNode) {
            var sObj = $('#' + treeNode.tId + '_span');
            if (treeNode.editNameFlag || $('#addBtn_' + treeNode.tId).length > 0) return;
            var addStr = "<span class='button edit' id='addBtn_" + treeNode.tId
                + "' title='添加' onfocus='this.blur();'></span>";
            sObj.after(addStr);
            var btn = $('#addBtn_' + treeNode.tId);
            if (btn) btn.bind("click", function () {
                $('input[name=Menuname]').focus();
                $Opertype.val('add');
                clearForm();
                reForm();

                $Fatherid.val(treeNode.KID);
                return false;//阻止onclick触发
            });

        }

        // 鼠标移出事件
        function removeHoverDom(treeId, treeNode) {
            $('#addBtn_' + treeNode.tId).unbind().remove();
        }

        $(function () {

            initztree();
        })

    })


</script>

