@model CJJ.Blog.Service.Models.Data.Sysmenu
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <style>
        .menucont {
            width: 100%;
            height: 100%;
            position: relative;
        }

        .left {
            width: 40rem;
            height: 100rem;
            margin-right: 3rem;
            position: absolute;
            top: 0;
            left: 0;
        }

        .right {
            width: 50rem;
            height: 100rem;
            position: absolute;
            top: 0;
            right: 0;
        }

        .layui-card {
            padding: 2rem;
        }
    </style>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md5">
                <div class="layui-card">
                    <div class="layui-card-header">菜单列表</div>
                    <div class="layui-card-body">
                        <ul id="LAY-Menu-Tree" class="ztree"></ul>
                    </div>

                </div>
            </div>
            <div class="layui-col-md7">
                <div class="layui-card">
                    <div class="layui-card-header">当前菜单</div>

                    <form class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">菜单名称</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">菜单名称</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">图标</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">URL</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">显示顺序</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" />
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label"></label>
                            <div class="layui-input-block">
                                越靠前越大
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">描述信息</label>
                            <div class="layui-input-block">
                                <textarea class="layui-textarea"></textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">描述信息</label>
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-disabled">立即提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <script src="~/Content/zTree_v3-master/js/jquery.ztree.all.js"></script>
    <script type="text/javascript">
        //layui模块的使用
        layui.use(['jquery'], function (args) {
            var $ = layui.$
            $(function () {
                var setting = {
                    view: {
                        addHoverDom: addHoverDom,
                        removeHoverDom: removeHoverDom,
                        selectedMulti: false
                    },
                    edit: {
                        enable: true,
                        editNameSelectAll: true,
                        showRemoveBtn: showRemoveBtn,
                        showRenameBtn: false
                    },
                    data: {
                        key: {
                            name: 'MenuName'
                        },
                        simpleData: {
                            enable: true,
                            idKey: 'KID',
                            pIdKey: 'FatherID'
                        }
                    },
                    callback: {
                        beforeRemove: beforeRemove,
                        onClick: onClick
                    }
                };
                var zNodes = [];
                // 鼠标移入事件
                function addHoverDom(treeId, treeNode) {
                    var sObj = $('#' + treeNode.tId + '_span');
                    if (treeNode.editNameFlag || $('#addBtn_' + treeNode.tId).length > 0) return;
                    var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
                        + "' title='add node' onfocus='this.blur();'></span>";
                    sObj.after(addStr);
                    var btn = $('#addBtn_' + treeNode.tId);
                    //添加节点
                    if (btn) btn.bind('click', function () {
                        // 添加操作
                        $('input[name=MenuName]').focus();
                        $operate.val('add');
                        clearForm();
                        reForm();
                        $FatherID.val(treeNode.KID);

                        return false;
                    });
                }

                // 鼠标移出事件
                function removeHoverDom(treeId, treeNode) {
                    $('#addBtn_' + treeNode.tId).unbind().remove();
                }
            })
            zNodes =@Model;
            zNodes.push({ KID: 0, MenuName: '菜单管理' });
            zTree.init($('#LAY-Menu-Tree'), setting, zNodes);

            //……

        });
    </script>

