<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="qiniukey" value="TYb8ZurNoN-xrUOhnNom_q3ZdPl1OLJqUsvoP0xB"/>
    <add key="qiniusercet" value="d7ajdjoitbUiJZQY7ANw5bSf3p6K3nQA8KkGxIDq"/>
    <add key="bucket" value="cjjblog"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400 " />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" />
  </system.web>
</configuration>
